SECRET_KEY=your-secret-key-here
SUPERUSER_USERNAME=admin
SUPERUSER_EMAIL=admin@example.com
SUPERUSER_PASSWORD=change-me-in-production
DEBUG=True
DJANGO_SETTINGS_MODULE=devlog.settings.local
ALLOWED_HOSTS=localhost,127.0.0.1

# Email (dev: emaile wypisywane w konsoli terminala)
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
